<form>
    <div class="form-group">
      <label for="formGroupExampleInput">Cedula</label>
      <input type="text" class="form-control" id="cedula" name="cedula" placeholder="Digite su cedula">
    </div>

    <button type="button" class="btn btn-info">Buscar</button>

    <div class="form-group">
      <label for="formGroupExampleInput2">Nombre completo</label>
      <input type="text" class="form-control" id="nombrecompleto" name="nombrecompleto" placeholder="Digite su nombre">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Direccion</label>
        <input type="text" class="form-control" id="direccion" name="direccion"  placeholder="Digite su direccion">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Telefono</label>
        <input type="text" class="form-control" id="telefono" name="telefono"  placeholder="Digite su telefono">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Pais</label>
        <input type="number" class="form-control" id="pais" name="pais" placeholder="Digite su pais">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Departamento</label>
        <input type="number" class="form-control" id="departamento" name="departamento"placeholder="Digite su departamento">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Ciudad</label>
        <input type="number" class="form-control" id="ciudad" name="ciudad"  placeholder="Digite su ciudad">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Fecha</label>
        <input type="date" class="form-control" id="fecha" name="fecha" placeholder="Digite la fecha">
    </div>
    <button type="button" class="btn btn-primary">Registrar</button>
    <button type="button" [routerLink]="['/pagoRegistro']" class="btn btn-success">Pagar</button>



    
  </form>
